@use "../../scss/" as *;
.salesman {
  margin-bottom: 40px;
  h2 {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      color: #c6a03e;
    }
  }
}

.salesman-body {
  margin-top: 10px;
  background-color: white;
  &-nav {
    width: 100%;
    border-bottom: 1px solid #ccc;
    &-items {
      display: inline-block;
      padding: 20px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        border-bottom: 2px solid $orange-color;
      }
    }
  }
}
.salesman-bottom {
  &__pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}
