@use "../../../../scss/" as *;

.same-product {
  &__header {
    background-color: $primary-color-dark;
    height: 50px;
    line-height: 50px;
    color: $text-white;
    padding-left: 10px;
  }
  &__content {
    border: 1px solid #ccc;
    margin-top: 10px;
    .list {
      margin-top: 2px;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      padding-left: 4px;
      img {
        width: 72px;
        height: 82px;
        border: 0.7px solid orange;
        margin-top: 3px;
      }
      &-item {
        margin-top: 2px;
        height: 100px;
        display: flex;
        gap: 12px;
        margin-left: 4px;
        &__info {
          flex-direction: column;
          display: flex;
          span {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          &-name {
            font-size: 14px;
            margin-top: 0;
            font-weight: 600;
          }
          &-price {
            color: $primary-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}
