$text-white: white;
$text-black: #000;
$primary-color: #c7a17a;
$primary-color-dark: rgb(69, 55, 40);
$orange-color: #ee4d2d;
$font-family: "Montserrat", sans-serif;

$default-width: 1150px;
$background-color: #f7f6f6;
