@use "../../../scss/" as *;
.layout-salesman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sticky-cart--wrapper {
  z-index: 100000000000;
  position: fixed;
  top: 136px;
  right: 4px;
}
.flash-contact--wrapper {
  z-index: 100000000000;
  position: fixed;
  bottom: 180px;
  left: 0;
}
// main
.layout-salesman-content--wrapper {
  width: 100%;
}
.container-layout-salesman {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;

  & .content {
    grid-column: 2/5;
  }
}
