.sticky-cart {
  width: 50px;
  height: 50px;
  position: relative;
  &__count-foods {
    top: -3px;
    width: 21px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    left: -7px;
    span {
      color: white;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
  }
}
